<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="css/login.css">
<script src="js/login.js"></script>

<%if(errors.length > 0){%>
    <script>
        //console.log('<%= errors %>')
        M.AutoInit();
        M.toast({ html: '<%= errors %>', classes: 'rounded' });  
    </script>
<%}%>

<div class="container">
      <div class="row ">

          <div class="col s6 offset-s3 z-depth-1 " id="panell">
            <h5 id="title">Login Form</h5>
            <form method="POST" action="/login" id="myform_id">

                <div class="input-field" id="username">
                    <input  type="text" placeholder="email" name="email">
                    
                </div>
                <div class="input-field" id="password">
                    <input  type="password" placeholder="password" name="password">
                    
                </div>
                <input  type="hidden" name="_csrf" value=<%= csrfToken %>>
                <a class="waves-effect waves-light btn deep-purple accent-3" id="loginbtn" href="javascript:$('#myform_id').submit();">Login</a>
                <p id="sub-text">new user? <a href="/signup">register here</a></p>
        </form>
        </div> 
      </div>
    </div>

<%- include('../includes/footer.ejs') %>