<%- include('../includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/favorites.css" />
<script src="/js/favorites.js"></script>


<div class = "container">
    <blockquote>
        Your favorites:
    </blockquote>

    <div class = "row">
        <%if(data.length == 0){%>
        <div class="col s2"></div>
            <div class="col s8" >
               
                <div class="card-panel deep-purple accent-3" style="height: 500px">
                    <span class="white-text">
                        <p >
                            <p class ="center" style="margin-top: 80px">Your favorites list is empty</p>
                            <p class ="center">
                                <i class="material-icons large" style="margin-top: 100px">bookmark</i>
                            </p>
                            <p class ="center">click on the above icon you see in posts to add it in your favorites</p>

                        </<p>
                    </span>
                </div>

            </div>
            <div class="col s2"></div>
        <%}else{%>
            <div class = "row" style="margin-top: 70px">
                <%data.forEach(el => {%>

                    <div class="col m4">
                   
                        <div class="card hoverable" style="margin: 0; padding: 10px">
                        
                            <div class="card-image waves-effect waves-block waves-light">
                            <%if(el.img){%>
                                <img class="activator" src='<%= el.img %>' style="height: 150px">
                            <%}else{%>
                                <img class="activator" src='<%= el.dimg %>' style="height: 150px">
                            <%}%>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><%= el.name %> <i class="material-icons right">more_vert</i></span>
                                <p><a href=  <%= el.groupLink %> >view</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"> About <i class="material-icons right">close</i></span>
                                <p> <%= el.body %> </p>
                            </div>
                        </div>
                    
                </div>
         

            <%})%>
               </div> 
        <%}%>
    </div>
</div>


<%- include('../includes/footer.ejs') %>