<%- include('../includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/profile.css" />
<script src="/js/profile.js"></script>

<div class="row" style="margin-top:30px;">
      
    <div class="col s1"></div>
    <div class="col s2 " style="padding: 0; margin-top: 50px">
        <% if (!user.img){%>
                    <img src="https://svgshare.com/i/jJ.svg" class="responsive-img">
        <% }else{ %>
                    <img class="responsive-img" src="/<%= user.img %>">
        <%}%>
    </div>

    <div class="col s4 ">

        <p class="flow-text" style="font-family: 'Concert One'; margin-top: 50px;">
            <%= user.username%><br>
        </p>
        <p><%= user.email %><br></p>
        <p><%= user.about %><br></p>

        <%if(user._id.toString() == activeUser._id.toString()){%>
            <a class="waves-effect waves-light btn deep-purple accent-3 modal-trigger" href="#modal1">
            <i class="material-icons left">edit</i>
            Edit picture
            </a>
        <%}%>
  
    </div>

    <!-- add links box -->
    <div class="col s4">
        <%if(user._id.toString() == activeUser._id.toString()){%>
      
        <%- include('../includes/add-link.ejs') %>
        
        <%}%>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>Edit picture</h4>
        <form method="POST" action="/profile/<%= id %>/updateProfile" enctype="multipart/form-data" id="myform_id">
                <div class="file-field input-field">
                    <div class="btn deep-purple accent-3">
                        <span>upload</span>
                        <input type="file" name="image" id="image" >
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                    <input  type="hidden" name="_csrf" value=<%= csrfToken %>>
            </form>
        </div>

        <center>
            <textarea form ="myform_id" name="about" id="taid" cols="25" 
            wrap="soft" placeholder="description about you" 
            style="margin: 20px; width: 75%"></textarea>
        </center>

        <br><br>

        <div class="modal-footer">
        <a href="javascript:$('#myform_id').submit();"
        class="modal-close waves-effect waves-light btn deep-purple accent-3">save</a>
        </div>
</div>

<div class="col s12">
    <hr class="style14">
</div>

<!-- main posts part -->

<div class="col s3"></div>

<div class="col s6">
    
    <!-- show posts box -->
    <div class="col s12" style="margin: 0;">
        <blockquote>
        <%if(user._id.toString() === activeUser._id.toString()){%>
            <p style="font-size:19pt;">your posts: </<p>
        <%}else{%>
            <p style="font-size:19pt;">posts:</<p>
        <%}%>
        </blockquote>
        <ul>
            <% posts.reverse().forEach(el => { %>
                    <div class="card hoverable" style="margin-bottom: 25px;">
                        <div class="card-image">
                        <%if(el.img){%>
                            <img src="/<%= el.img %>" style="height: 310px; width: fill;">
                        <%}else{%>
                            <img src="https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            style="height: 310px; width: fill;">
                        <%}%>
                        <span class="card-title"><%= el.name %></span>

                        <%if(el.type == "whatsapp"){%>
                            <a class="btn-floating halfway-fab waves-effect waves-light green pulse btn-large"
                            href="<%= el.groupLink %>"
                            target="_blank">
                        <%}else if(el.type == "discord"){%>
                            <a class="btn-floating halfway-fab waves-effect waves-light deep-purple accent-4 pulse btn-large"
                            href="<%= el.groupLink %>"
                            target="_blank">
                        <%}else{%>
                            <a class="btn-floating halfway-fab waves-effect waves-light blue pulse btn-large"
                            href="<%= el.groupLink %>"
                            target="_blank">
                        <% } %>
                        <i class="material-icons ">link</i>
                        </a>
                        </div>
                        <div class="card-content">
                        <p><%= el.body %></div>
                    </div>
            <% }) %>
        </ul>
    </div>

</div>

<div class="col s3"></div>

</div>
          

<%- include('../includes/footer.ejs') %>